<%= render 'article/nav'%>
<h1>Modify Articles</h1>
<% @articles.each do |r|%>
    <li>
      <%= r.title %>
      <%= link_to '[E]', articles_edt_path+'?'+'edt='+r.id.to_s%>
      <%= link_to '[X]', articles_modify_path+'?'+'del='+r.id.to_s%>
    </li>
<% end%>