<div class="footer">
  <div class="container">
    <table>
      <tr>
        <td><a href="http://www.ucas.ac.cn/">国科大官网</a></td>
        <td><a href="https://github.com/teamshow/team_show">我们的Github</a></td>
        <td><a href="http://apache.opencas.org/">科技网镜像站</a></td>
      </tr>
    </table>
    <p>制作人：陈立国 许柏宁 杨海华    地址：中国科学院大学雁栖湖校区       联系方式：1234567890123    010-12345678</p>
  </div>
  <!--<div class="container" style="vertical-align: bottom;">-->
    <!--制作人：XXX XXX XXX      地址：中国科学院大学雁栖湖校区       联系方式：1234567890123    010-12345678-->
  <!--</div>-->
</div>