<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">

    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Homepage</a></li>
        <li><a href="/articles">Articles</a></li>
        <li><a href="/notices">Notices</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/memberships/login">Admin Tools</a></li>
      </ul>

    </div>
  </div>
</nav>
