<%= render '/welcome/nav' %>

<div class="container">
  <h3>关于我们</h3>
  <div class="toMiddle" style="height: 4px;margin-top: -10px"></div>
  <h4 style="margin-top: 20px;text-align: center;font-weight: bolder;font-size: 20px">团队网站</h4>
  <p style="text-indent: 2em">成员：陈立国、许柏宁、杨海华。</p>
  <p style="margin-top: 50px;text-align: right">欢迎联系我们</p>
</div>

<%= render 'welcome/footer' %>