<%= render 'nav'%>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-6">
          <ul>
            <li>
              新闻资讯
            </li>

          </ul>
        </div>
        <div class="col-xs-6">
          <ol>
            <li>
              新闻资讯
            </li>

          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <ol>
        <li>
          新闻资讯
        </li>

      </ol>
    </div>
    <div class="col-xs-6">
      <dl>
        <dt>
          Rolex
        </dt>
        <dd>
          劳力士创始人为汉斯.威尔斯多夫，1908年他在瑞士将劳力士注册为商标。
        </dd>

      </dl>
    </div>
  </div>
</div>