<nav>
  <a href="/">home</a> |
  <a href="/articles/new">new article</a> |
  <a href="/notices/new">new notice</a> |
  <a href="/projects/new">new project</a> |
  <a href="/articles/modify">modify article</a> |
  <a href="/notices/modify">modify notice</a> |
  <a href="/projects/modify">modify project</a>
</nav>
