<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/articles/new">New article</a></li>
        <li><a href="/notices/new">New notice</a></li>
        <li><a href="/projects/new">New project</a></li>
        <li><a href="/articles/modify">Modify article</a></li>
        <li><a href="/notices/modify">Modify notice</a></li>
        <li><a href="/projects/modify">Modify project</a></li>
        <li><a href="/memberships/modify">Modify members</a></li>
      </ul>
    </div>

  </div>
</nav>
