<%= render '/welcome/nav'%>

<div class="container">
  <h3 align="center">项目列表</h3>
  <div style="margin-bottom: 5px">
    <ol class="breadcrumb">
      <li><a href="/">主页</a></li>
      <li class="active">项目</li>
    </ol>
  </div>
  <div class="toRight" style="height: 4px;margin-top: -10px"></div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table index-show" style="margin-bottom: 10px !important;">
        <thead style="">
        <tr style="line-span: 3">
          <th style="width: 50%">项目名称</th>
          <th style="width: 50%">项目最新状态</th>
        </tr>
        </thead>
      </table>
      <hr style="border:none;border-top:2px dotted rgba(135, 135, 135, 1);margin-bottom: 3px;margin-top: -10px">
      <table class="table index-show table-hover bg-warning">
        <tbody>
        <% @i = 0 %>
        <% @projects.each do |a| %>
              <% @i = a.id %>
              <%params[:id] = @i%>
            <tr>
              <td style="width: 50%">
                <%= link_to a[:name], projects_path + '/' + @i.to_s %>
              </td>
              <td style="width: 50%">
                <%= @status_dict[@i]%>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <hr style="border:none;border-top:2px solid black;margin-bottom: 3px;margin-top: -20px">
    </div>


  </div>
</div>

<%= render 'welcome/footer' %>
