<%= render 'welcome/nav'%>

<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <ol>
        <% @i = 0 %>
        <% @projects.each do |a| %>
            <li>
              <% @i = a.id
                 params[:id] = @i
              %>
              <%= link_to a[:name], projects_path + '/' + @i.to_s %>
            </li>
        <% end%>
      </ol>
    </div>
    <div class="col-xs-4">
    </div>
  </div>
</div>