/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body,
.body{
    font-size: 16px !important;
    background: url("webpage_background.png") repeat-y top rgb(255,255,255);
    height: 100%;
}
@media (min-width: 1200px) {
    .container {
        width: 1024px !important;
        min-height: 370px !important;
        margin-bottom: 20px;
    }
}
.container{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.page-header{
    border-radius: 5px;
    width: 1024px;
    height: 100px;
    margin-top: 0 !important;
    margin-bottom: 3px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    background: url("head_background.png") no-repeat;
    background-size: 100% 100%;
}
.page-header .btn{
    width: 10% !important;
}
.navbar-inverse{
    background-color: #28a4c9 !important;
    border-color: #31b0d5 !important;
    color: #0f0f0f !important;
    background-image: none !important;
    width: 1024px;
    margin: auto;
    min-height: 10px !important;
}
.nav > li > a{
    color: #000000;
    font-weight: bold;
}
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #0f0f0f;
    background-color: #337ab7;
}
.table{
    border-color: transparent !important;
    border: transparent !important;
    border-collapse: separate !important;
}

.table th,
.table td{
    border: 0px !important;
}
.table a{
    font-size: 12px !important;
}
.table-hover a{
    font-size: inherit !important;
}
.toLeft {
    background-image:-webkit-linear-gradient(to left, blue, aqua);
    background-image:linear-gradient(to left,blue, aqua);
}
.toRight {
    background-image:-webkit-linear-gradient(to right, blue, aqua);
    background-image:linear-gradient(to right,blue, aqua);
}
.index-date{
    font-size: smaller;
    text-align: right;
    vertical-align: bottom;
}
.index-show{}
.index-show a{
    color: #000;
    font-size: inherit !important;
}
.index-show a:hover,
.index-show a:focus{
    text-decoration: none;
    text-shadow: #9d9d9d;
}
.table-hover > tbody > tr:hover{
    background-color: rgba(191, 255, 247, 1) !important;
}
.footer{
    padding-top: 10px;
    width: 100%;
    height: 100px;
    background-color: #4369f0;
    text-align: center;
}
.footer > .container,
.footer > .container a,
.footer > .container a:hover,
.footer > .container a:focus{
    padding: 0;
    font-size: 14px !important;
    font-weight: bold !important;
    color: #ffffff !important;
    min-height: 0 !important;
    margin: auto !important;
}
.footer table{
    width: 100%;
}
.footer p{
    margin-top: 45px !important;
    margin-bottom: 5px !important;
}
h3,
.h3{
    margin-top: 0 !important;
}
.show-date{
    text-align: right;
    font-size: small;
    color: #5e5e5e;
    font-weight: normal;
}
.test{
    position: absolute;
    bottom: 0;
}
.dropdown-menu{
    font-size: 12px !important;
    min-width: 120px !important;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 102%;
    margin-top: -3px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.toMiddle {
    background-image:-webkit-linear-gradient(to right, aqua, blue, aqua);
    background-image:linear-gradient(to right, aqua ,blue, aqua);
}
.row{
    margin-left: auto !important;
    margin-right: auto !important;
}