// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.text-top{
  margin-top: 10px;
}.iimage-top-left{
  margin-top: 10px;
  margin-left: 50%;
 }
.article-modify{}
.article-modify a{
  color: blue;
  font-size: inherit !important;
}
.article-modify a:hover,
.article-modify a:focus{
  text-decoration: solid !important;
  text-shadow: #9d9d9d;
}
a{
  text-decoration: solid !important;
}
.breadcrumb {
  background-color: transparent !important;
  padding: 8px 0 !important;
  margin-bottom: auto !important;
  background-color: #f5f5f5;
  margin-top: -10px;
}