// Place all the styles related to the memberships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login{
  background-image: url("login_background.png");
  height: 100%;
  background-position: top;
}
.login-div{
  filter:alpha(Opacity=80);
  -moz-opacity:0.91;
  opacity: 0.91;
  margin-top: 100px;
}
.col-sm-3,
.col-sm-9{
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-group label{
  height: 34px !important;
  line-height: 34px !important;
}

.form-group .btn{
  width: 30% !important;
  font-weight: bold !important;
  margin-left: 5%;
  margin-right: 5%;
}
.panel-footer{
  text-align: right;
  padding-right: 10%;
  font-size: small;
}
.signup{
  background-image: url("signup_background.png");
  height: 100%;
  background-position: toppx;
}
.col-md-8{
  float: none;
  margin: auto;
}
.signup-div{
  filter:alpha(Opacity=80);
  -moz-opacity:0.8;
  opacity: 0.8;
  margin-top: 100px;
}
.warn{
  filter:alpha(Opacity=100) !important;
  -moz-opacity: 1 !important;
  opacity: 1 !important;
  position: absolute;
  top:200px;
  width: 80%;
  height: 100px;
  padding-top: 35px;
  margin-left: 10%;
  color: red !important;
  font-size: 22px;
  font-weight: bold;
}