// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.project-show{
  padding: 8px;
  border: 3px solid deepskyblue;
  border-radius: 3px;
  float: left;
}
.col-sm-one-and-a-half,
.col-sm-six-and-a-half{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.project-panel{
  position: relative;
}
@media (min-width: 768px){
  .col-sm-one-and-a-half,
  .col-sm-six-and-a-half,
  .project-panel{
    float: left;
  }
  .col-sm-one-and-a-half{
    width: 12.5%;
  }
  .col-sm-six-and-a-half{
    width: 54.16666667%;
  }
  .project-panel{
    //width: 33.33333333%;
    width: 100%;
  }
}
.scrollbar-project{
  scrollbar-arrow-color: #f4ae21; /**//*三角箭头的颜色*/
  scrollbar-face-color: #333; /**//*立体滚动条的颜色*/
  scrollbar-3dlight-color: #666; /**//*立体滚动条亮边的颜色*/
  scrollbar-highlight-color: #666; /**//*滚动条空白部分的颜色*/
  scrollbar-shadow-color: #999; /**//*立体滚动条阴影的颜色*/
  scrollbar-darkshadow-color: #666; /**//*立体滚动条强阴影的颜色*/
  scrollbar-track-color: #666; /**//*立体滚动条背景颜色*/
  scrollbar-base-color:#f8f8f8; /**//*滚动条的基本颜色*/
}